.container-navbar{
    background-color: rgb(179, 207, 209);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.Nombre-navbar{
    display: flex;
    width: 95%;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.butons-container{
    display: flex;
    flex-direction: row;
}

.btn-salir{
    background-color: rgb(180, 150, 236);
    margin-right: 40px;
}